:root {
  --var-nav-bg: #ffa500;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.kategori li {
  list-style: none;
  margin-left: -40px;
  font-size: 16px;
  line-height: 30px;
}

.content-menu {
  background-color: #FFF;
  padding: 5px;
}

.table-hove tbody tr:hover {
  background: #d9edf7;
}

.table {
  border: 1px solid#CCC;
}

table td,
table th {
  padding: 10px;
  font-size: 14px;
}

* {
  transition: all 200ms ease-in-out;
}

body {
  /* background-color: #EEE; */
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* attribute a Universal */
a:hover {
  color: #000 !important;

}

/* Warna List text pada Kategori */
.kategori a {
  color: #FF3E00 !important;
}

/* Warna List text pada Keranjang */
.keranjang a {
  color: #FF3E00 !important;
}

/* Navbar Layout */
.navbar-orange {
  background-color: var(--var-nav-bg);
  border: none;
  color: #FFF;
}

.navbar-orange .navbar-brand {
  color: #FFF;
}

.navbar-orange .navbar-nav li>a {
  color: #FFF;
}

.navbar-orange .navbar-nav .dropdown-menu li>a {
  color: #000;
}


/* Header layout */
.warna-bg {
  background-color: var(--var-nav-bg);
}

.warna-head-bg {
  background-color: #FF0900;
}

/* Warna bg Div Keranjang Belanja */
.warna-jumlah {
  background-color: #fff;
}

.item h2 {
  color: var(--var-nav-bg);
  font-weight: 700;
}


.kategori {
  border: 1px solid#089;
  background-color: #FFF;
}

.kategori li {
  padding: 10px;
}

/* Keranjang Page */
.CartDescription h3 a {
  color: #000 !important;
}

/* Footer Layout */
.footer {
  background-color: var(--var-nav-bg);
  color: #FFF;
}